body {
  font-family: Tahoma, sans-serif;
  background-color: #999;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
  background-color: #ffffff;
}

#coingenie h1 {
  text-align: center;
  background-color: #444;
  color: white;
  padding: 1.5em 0;
}

h2 {
  color: #444;
}

#coingenie section, aside, footer {
  padding: 0 1em;
}

aside, aside h2, aside a {
  background-color: #666;
  color: white;
}

aside {
  padding: 1em;
}
